@using System.Security.Claims
@model InterviewSathi.Web.Models.Entities.Friend

@{

    ViewData["Title"] = "Create";
    var users = ViewBag.Users;
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-3">
                <a asp-action="Index" asp-controller="Friend" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" class="btn btn-outline-dark">
                    <i class="bi bi-arrow-return-left"></i>
                    Back to Friends
                </a>
                <span class="h4 ms-3">Find Friends</span>
            </div>
            <form asp-action="Create" asp-controller="Friend" method="get" class="mb-4">
                <div class="input-group">
                    <input name="searchUser" type="text" placeholder="Search by User Name" class="form-control" />
                    <button type="submit" class="btn btn-outline-dark">Search</button>
                </div>
            </form>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                @foreach (var item in users)
                {
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="~/Images/Profiles/@item.ProfileURL" class="rounded-circle me-3" alt="Profile Picture" height="40px" width="40px" />
                                    <h5 class="card-title">@item.Name</h5>
                                </div>
                                <form asp-action="Create" asp-controller="Friend" method="post">
                                    <input asp-for="SentBy" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" hidden />
                                    <input asp-for="SentTo" value="@item.Id" hidden />
                                    <button type="submit" class="btn btn-outline-primary">Add Friend</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
