@using InterviewSathi.Web.ViewModels
@model ChangePasswordViewModel

@{
    Layout = "_EditProfiles";
}
<div class="container">
    <div id="changePassword" class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Edit Password</h5>

            <form asp-action="ChangePassword" asp-controller="Account" method="post">

                <div class="mb-3">
                    <label for="OldPassword" class="form-label">Old Password</label>
                    <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="NewPassword" class="form-label">New Password</label>
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="CNewPassword" class="form-label">Confirm New Password</label>
                    <input type="password" id="CNewPassword" name="CNewPassword" class="form-control" />
                    <span asp-validation-for="CNewPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>
