@model InterviewSathi.Web.ViewModels.ExternalLoginConfVM
@{
    Layout = "_Login&SignUp";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="text-center pb-3">Register</h1>
                <p class="text-success text-center pb-3">Associate your @ViewData["ProviderDisplayName"] account.</p>
                <form method="post" asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" enctype="multipart/form-data">
                    <input hidden asp-for="Email" />
                    <div class="p-4">
                        <p>
                            You've successfully authenticated with <strong>@ViewData["ProviderDisplayName"]</strong>.
                            Please enter a user name and role for this site below and click the Register button to finish
                            logging in.
                        </p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Role" class="form-label">Role</label>
                            <div class="btn-group" role="group" aria-label="Segmented Control">
                                <input type="radio" class="btn-check visually-hidden" asp-for="Role" value="Interviewer" id="option1" autocomplete="off" onchange="toggleDocumentInput()">
                                <label class="btn btn-outline-dark" for="option1">Expert</label>

                                <input type="radio" class="btn-check visually-hidden" asp-for="Role" value="Interviewee" id="option2" autocomplete="off" onchange="toggleDocumentInput()">
                                <label class="btn btn-outline-dark" for="option2">Beginner</label>
                            </div>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control text-uppercase" disabled />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3" id="documentInputContainer" style="display: none;">
                            <label asp-for="DocUpload" class="form-label">Document Upload</label>
                            <input asp-for="DocUpload" class="form-control" id="documentInput" required>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-lg btn-success form-control" type="submit">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script>
    window.onload = function () {
        toggleDocumentInput();
    }

    function toggleDocumentInput() {
        var expertRadio = document.getElementById('option1');
        var documentInputContainer = document.getElementById('documentInputContainer');
        if (expertRadio.checked) {
            documentInputContainer.style.display = 'block';
            document.getElementById('documentInput').setAttribute('required', 'required');
        } else {
            documentInputContainer.style.display = 'none';
            documentInput.required = false;
        }
    }
</script>