@using InterviewSathi.Web.ViewModels
@model ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}


<div class="container">
    <div class="row m-2">
        <div class="col">
            <div class="justify-content-center align-items-center border shadow p-5">
                <h2 class="text-center fw-bold">@ViewData["Title"]</h2>
                <p class="text-center">
                    Please enter your email address to reset your password.
                </p>

                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
