@{
    ViewData["Title"] = "Forgot Password Confirmation";
}



<div class="container">
    <div class="row m-2">
        <div class="col">
            <div class="justify-content-center align-items-center border shadow p-5">
                <h2 class="text-center fw-bold">@ViewData["Title"]</h2>
                <p class="text-center">
                    We've sent you an email with instructions to reset your password. Please check your inbox.
                </p>
            </div>
        </div>
    </div>
</div>
