@{
    ViewData["Title"] = "Reset Password Invalid";
}

<div class="container">
    <div class="row m-2">
        <div class="col">
            <div class="justify-content-center align-items-center border shadow p-5">
                <h2 class="text-center text-danger fw-bold">@ViewData["Title"]</h2>
                <p class="text-center">The reset password link is invalid or has expired. Please request a new reset link.</p>
                <p class="mt-3 mb-2 text-center" style="color: #393f81;">
                    <a asp-controller="Account" asp-action="ForgotPassword" asp-route-returnUrl="@ViewBag.ReturnUrl" style="color: #393f81;">Reset Password</a>
                </p>
            </div>
        </div>
    </div>
</div>

