@using InterviewSathi.Web.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InterviewSathi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InterviewSathi.Web.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <partial name="Notifications" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand display-2 fw-bold" asp-area="" asp-controller="Home" asp-action="Index">InterviewSathi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end text-end">
                        <li class="nav-item text-lg-center">
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Experts">Experts</a>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top container-fluid bg-dark text-light" style="margin-left: 0; margin-right: 0;">
        <div class="col mb-3">
            <div class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">

      </div>
            <p class="text-body-secondary">© <span id="currentYear"></span> InterviewSathi</p>
            <p>And scrambled it to make a type specimen book. It has survived not only five centuries</p>
        </div>

        <div class="col mb-3">
        </div>

        <div class="col mb-3">
            <h5>Our Services</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><span class="nav-link p-0 text-white">Interview Experts</span></li>
                <li class="nav-item mb-2"><span class="nav-link p-0 text-white">Scheduling</span></li>
                <li class="nav-item mb-2"><span class="nav-link p-0 text-white">Experts Feed</span></li>
                <li class="nav-item mb-2"><span class="nav-link p-0 text-white">Social Networking</span></li>
                <li class="nav-item mb-2"><span class="nav-link p-0 text-white">About Us</span></li>
            </ul>
        </div>
        <div class="col mb-3">
            <h5>Our Socials</h5>
            <ul class="nav flex-column flex-end">
                <li class="nav-item mb-2"><span class="nav-link p-0 text-body-secondary">info@interviewsathi.com</span></li>
                <li class="nav-item mb-2"><span class="nav-link p-0 text-white">Nepal</span></li>
            </ul>
        </div>
    </footer> 


    <script>
        document.getElementById('currentYear').innerText = new Date().getFullYear();
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        AOS.init({
            once: true
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
