@using InterviewSathi.Web.Models.Entities
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-3">
        <a class="nav-link" asp-controller="Chat" asp-action="Index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()">
            <i class="fas fa-comments"></i>
            <span class="d-lg-none">Chat</span> 

        </a>
    </li>
    <li class="nav-item me-3">
        <a class="nav-link" asp-controller="Notification" asp-action="Index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()">
            <i class="fas fa-bell"></i>
            <span class="d-lg-none">Notifications</span>

        </a>
    </li>
    <li class="nav-item me-3">
        <a class="nav-link" asp-controller="Profile" asp-action="Index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()">
            <i class="fas fa-user"></i>
            <span class="d-lg-none">Profile</span>

        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-action="Create" asp-controller="Blog" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-share-fill me-2"></i>
            <span class="d-lg-none">Post</span>
        </a>
    </li>
}