@using InterviewSathi.Web.Models.Entities
@model ApplicationUser

@{
    Layout = "_Admin";
}

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/images/documents/@Model.DocURL" class="img-fluid" alt="Image">
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <form asp-controller="Home" asp-action="Edit">
            <input type="text" value="@Model.Id" hidden />
            <div class="card shadow-lg" style="background-color: #172a45; border-radius: 15px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);">
                <div class="card-body text-dark p-4">
                    <div class="row mt-0">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-outline-light mb-3" data-bs-toggle="modal" data-bs-target="#imageModal">View Document</button>
                            <p style="color: #fff;">Inform <a class="text-light" asp-action="UserProfile" asp-controller="Profile" asp-route-id="@Model.Id">@Model.Name</a> about the Verification.</p>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="mb-1" style="color: #fff;">Email</label>
                        <input id="email" type="text" placeholder="Enter your email" value="@Model.Email" name="email" readonly class="form-control input-box rm-border  bg-dark text-white">
                    </div>
                    <div class="form-group mb-3">
                        <label for="message" class="mb-1" style="color: #fff;">Message</label>
                        <textarea id="message" placeholder="Enter your message" name="message" class="form-control input-box rm-border bg-dark text-white" required></textarea>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1" style="color: #fff;">
                            Verify
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="0" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2" style="color: #fff;">
                            Don't Verify
                        </label>
                    </div>
                    <div class="form-group mb-0">
                        <div class="col-md-12 px-0">
                            <input type="submit" value="Send Info" class="btn btn-block btn-primary rm-border">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

