@using InterviewSathi.Web.ViewModels
@model IEnumerable<ExpertVM>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    @foreach (var item in Model)
    {
        @if (item.UserId != User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString())
        {
            <div class="col">
                <div class="card text-center shadow">
                    <a asp-action="UserProfile" asp-controller="Profile" asp-route-id="@item.UserId" class="text-decoration-none text-black">

                        @if (item.Profile != null)
                        {
                            <img src="~/Images/Profiles/@item.Profile" class="card-img-top" />
                        }
                        <div class="card-body d-flex flex-column align-items-center">
                            <p class="card-text">
                                @item.UserName/
                                @foreach (var skill in item.Skills)
                                {
                                    @skill.Skill.NameOfSkill
                                }
                            </p>
                        </div>
                    </a>
                    <div class="card-footer mt-auto"><button class="btn btn-primary">Schedule</button></div>
                </div>
            </div>
        }

    }
</div>
