
@{
    ViewData["Title"] = "InterviewSathi-Home";
}


<div class="row pt-4">
  <div class="col text-center justify-content-center align-content-center pt-5">
        <h2>Learn from experts <br />Grow your carrier</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. <br />It has roots in a piece of classical</p>
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Privacy">Explore Our Experts</a>
    </div>
  <div class="col">
        <img src="~/images/statics/Home-1.png" class="card-img img-fluid img-rounded" width="100%" height="100%" style="border:30px;"/>
  </div>
</div>
<div class="row pt-4">


</div>
<div class="row pt-4">

</div>
<div class="row pt-4">
    <div class="col text-center">Learn from experts</div>
    <div class="col">img</div>
</div>
<div class="row pt-4">
    <div class="col text-center">Learn from experts</div>
    <div class="col">img</div>
</div>


<div class="row pt-4">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h4 class="display-4 font-weight-normal">
                Signup to Us for
                Landing your Dream
            </h4>
            <p class="lead font-weight-normal">
                Contrary to popular belief, Lorem Ipsum is not simply random text. <br />It has roots in a piece of classical
            </p>
            <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Login">Sign Up</a>
        </div>
    </div>
</div>
