@{
    ViewData["Title"] = "InterviewSathi-Home";
}


<div class="row pt-4">
    <div class="col text-center justify-content-center align-content-center pt-5">
        <h2>Learn from experts <br />Grow your carrier</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. <br />It has roots in a piece of classical</p>
        <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Privacy">Explore Our Experts</a>
    </div>
    <div class="col">
        <img src="~/images/statics/Home-1.png" class="card-img img-fluid img-rounded" width="100%" height="100%" style="border:30px;" />
    </div>
</div>
<div class="row pt-4">
    <div class="col-sm-8">
        <img src="~/images/statics/Home-1.png" class="card-img img-fluid img-rounded" width="100%" height="100%" style="border:30px;" />
    </div>
    <div class="col">
        <h4>Why become an Interviewer?</h4>
        <ul>
            <li>
                <h5 class="pt-2">Empowers Others</h5>
                <span>Share your knowledge and insights to guide aspiring professionals.</span>
            </li>
            <li>
                <h5 class="pt-2">Build Your Profile</h5>
                <span>Create a personalized interviewer profile showcasing your expertise and career journey.</span>
            </li>
            <li>
                <h5 class="pt-2">Flexible Contribution</h5>
                <span>Conduct mock interviews, offer industry-specific tips, and participate in live Q&A sessions at your convenience.</span>
            </li>
        </ul>
    </div>
</div>
<div class="row pt-4">
    <div class="col">
        <h4>Interview with Your Dream<br />in three Simple steps</h4>
        <ul>
            <li>
                <h5>Select Experts</h5>
                <span></span>
            </li>
            <li>
                <h5>Schedule a Meeting</h5>
                <span></span>
            </li>
            <li>
                <h5>Start Meeting</h5>
                <span></span>
            </li>
        </ul>
    </div>
    <div class="col">
        <img src="~/images/statics/Home-1.png" class="card-img img-fluid img-rounded" width="100%" height="100%" style="border:30px;" />
    </div>
</div>
<div class="row pt-4">
    <div class="text-center">What Our Friends say about us</div>
    <div>
        <div class="card">
            <div class="card-body">
                <p>This is a nice environment to practice technical interviews.</p>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col text-center">
        Contact Us or Put Suggestions
    </div>
    <div class="col">contact us form</div>
</div>


<div class="row text-center pt-4">
    <h4>
        Signup to Us for
        Landing your Dream
    </h4>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. <br />It has roots in a piece of classical
    </p>
    <div>
        <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Sign Up</a>
    </div>

</div>


<section class="form03 cid-rDOAdn5u4z" id="form1-8k">


    <div class="container-fluid">
        <div class="row content-row">
            <div class="col-lg-6 mx-auto mbr-form form-col" data-form-type="formoid">
                <div class="form-wrap" data-form-type="formoid">
                    <div class="align-left">

                        <h2 class="mbr-section-title pb-1 mbr-fonts-style display-2">Contact Us</h2>
                        <p class="pb-1 mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed sollicitudin felis. Vestibulum vestibulum leo sed elit inter dum malesuada. Sed turpis. Etiam nisi nunc, viverra vitae euismod nec, convallis et arcu. Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed sollicitudin felis
                        </p>
                        <p class="telephone mbr-fonts-style display-7">
                            Tel:  +1234567
                        </p>
                        <p class="E-mail pb-1 mbr-fonts-style display-7">
                            E-mail: support@mobirise.com
                        </p>
                    </div>
                    <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <input type="hidden" name="email" data-form-email="true" value="L6Kfk+uq/X+OGajW7WRLdBLzpRtM/a3PcvCumuwX2L+/pE/Bca4nPrJsdyRtziijk3nNC8/Lq7O/qzqDT03zxfIOSrzHUDZiUuwTu+hSxp6PZrWj7oCWYOFdVrhgGp6z">
                        <div class="form-row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                                Thanks for filling
                                out the form!
                            </div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some
                                problem!
                            </div>
                        </div>
                        <div class="dragArea form-row">
                            <div class="col-lg-6 form-group" style="" data-for="phone">
                                <input type="text" name="name" placeholder="Name" data-form-field="Name" class="form-control display-7" required="required" id="name-form1-8k">
                            </div>
                            <div class="col-lg-6 form-group" data-for="email">
                                <input type="email" name="email" placeholder="Email" data-form-field="Email" class="form-control display-7" required="required" id="email-form1-8k">
                            </div>
                            <div class="col-lg-6 form-group" data-for="city">
                                <input type="text" name="city" placeholder="City" data-form-field="City" class="form-control display-7" required="required" id="city-form1-8k">
                            </div>
                            <div class="col-lg-6 form-group" data-for="country">
                                <input type="text" name="country" placeholder="Country" data-form-field="Country" class="form-control display-7" required="required" id="country-form1-8k">
                            </div>
                            <div class="col-lg-12 form-group" data-for="subject">
                                <input type="text" name="subject" placeholder="Subject" data-form-field="Subject" class="form-control display-7" required="required" id="subject-form1-8k">
                            </div>
                            <div class="col-lg-12 form-group" data-for="message" style="">
                                <textarea name="message" placeholder="Your message" data-form-field="Message" class="form-control display-7" required="required" id="message-form1-8k"></textarea>
                            </div>
                            <div class="col input-group-btn"><button type="submit" class="btn btn-form  btn-primary-outline display-4">SEND</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 m-auto">
                <div class="mbr-figure">
                    <img src="~/images/statics/Home-1.png" width="100%" />
                </div>
            </div>
        </div>
    </div>
</section>
