@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "InterviewSathi-Home";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="2000">
            <h2 class="display-4 text-dark fw-bold">Learn from Experts</h2>
            <p class="lead">Discover valuable insights and guidance from seasoned professionals to boost your career.</p>
            <a href="@Url.Action("Experts", "Home")" class="btn btn-primary btn-lg mt-3">Explore Our Experts</a>
        </div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="2000">
            <img src="~/images/statics/home1.png" class="img-fluid mt-3 rounded" alt="Home Image">
        </div>
    </div>
</div>

<div class="mt-5 p-4 shadow border border-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/statics/index2.jpg" class="img-fluid rounded" alt="Home Image">
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="2000">
                <h3 class="mb-4">Why Become an Interviewer?</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <h5 class="mb-3">Empowers Others</h5>
                        <p class="px-xl-3">Share your knowledge and insights to guide aspiring professionals.</p>
                    </li>
                    <li class="mb-3">
                        <h5 class="mb-3">Build Your Profile</h5>
                        <p class="px-xl-3">Create a personalized interviewer profile showcasing your expertise and career journey.</p>
                    </li>
                    <li>
                        <h5 class="mb-3">Flexible Contribution</h5>
                        <p class="px-xl-3">Conduct mock interviews, offer industry-specific tips, and participate in live Q&A sessions at your convenience.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 p-4 shadow border border-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="2000">
                <h3 class="mb-4">Interview with Your Dream in Three Simple Steps</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <h5 class="mb-3">Select Experts</h5>
                        <p class="px-xl-3">Choose from a pool of experienced professionals in your field.</p>
                    </li>
                    <li class="mb-3">
                        <h5 class="mb-3">Schedule a Meeting</h5>
                        <p class="px-xl-3">Find a convenient time to connect with your chosen experts.</p>
                    </li>
                    <li>
                        <h5 class="mb-3">Start Meeting</h5>
                        <p class="px-xl-3">Engage in a productive conversation and gain valuable insights.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="2000">
                <img src="~/images/statics/index3.jpg" class="img-fluid rounded" alt="Home Image">
            </div>
        </div>
    </div>
</div>
<div class="mt-5 p-4 shadow border border-white">
    <div class="container">
        <section>
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center">
                    <h3 class="mb-4">What Our Friends Say About Us</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                             class="rounded-circle shadow-1-strong" width="150" height="150" />
                    </div>
                    <h5 class="mb-3">Maria Smantha</h5>
                    <p class="px-xl-3">
                        <i class="fas fa-quote-left pe-2"></i>I found valuable insights and support from the community here.
                    </p>
                    <ul class="list-unstyled d-flex justify-content-center mb-0">
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star-half-alt fa-sm text-warning"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                             class="rounded-circle shadow-1-strong" width="150" height="150" />
                    </div>
                    <h5 class="mb-3">Lisa Cudrow</h5>
                    <p class="px-xl-3">
                        <i class="fas fa-quote-left pe-2"></i>Great platform to connect with experienced professionals.
                    </p>
                    <ul class="list-unstyled d-flex justify-content-center mb-0">
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="d-flex justify-content-center mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                             class="rounded-circle shadow-1-strong" width="150" height="150" />
                    </div>
                    <h5 class="mb-3">John Smith</h5>
                    <p class="px-xl-3">
                        <i class="fas fa-quote-left pe-2"></i>This is a nice environment to practice technical interviews.
                    </p>
                    <ul class="list-unstyled d-flex justify-content-center mb-0">
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </li>
                        <li>
                            <i class="far fa-star fa-sm text-warning"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="mt-5 p-4 shadow border border-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="2000">
                <h2 class="display-4">Contact Us or Share Your Suggestions</h2>
                <p class="lead mb-4">We value your feedback and are here to assist you. Feel free to get in touch or share your suggestions with us.</p>
                <p class="mb-1"><i class="bi bi-telephone"></i> Tel: +977 9812345678</p>
                <p><i class="bi bi-envelope"></i> E-mail: interviewsathi@gmail.com</p>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="2000">
                <form id="contactForm" asp-action="Create" asp-controller="ContactUs">
                    <div class="mb-3">
                        <label for="name" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="name" name="sendername" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Your Message</label>
                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-outline-dark btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (!SignInManager.IsSignedIn(User))
{
    <div class="mt-5 p-4 shadow border border-white">
        <div class="row text-center" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-md-8 mx-auto">
                <h2 class="display-4">Sign Up with Us and Land Your Dream</h2>
                <p class="lead">Join our platform to unlock a world of opportunities and take your career to new heights.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <a class="btn btn-primary btn-lg" href="@Url.Action("Register", "Account")">Sign Up</a>
            </div>
        </div>
    </div>
}