@model ContactUs

@{
    Layout = "_Admin";
}

<div class="card mb-4">
    <div class="card-body">
        <form asp-controller="ContactUs" asp-action="Edit">
            <input type="text" value="@Model.Id" hidden />
            <div class="card shadow-lg bg-dark text-white p-4 rounded-3">
                <div class="mb-3">
                    <label class="form-label mb-1">Contact Message</label>
                    <input type="text" value="@Model.Message" readonly class="form-control input-box rm-border bg-dark text-white">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label mb-1">Email</label>
                    <input id="email" type="text" placeholder="Enter your email" value="@Model.Email" name="email" readonly class="form-control input-box rm-border bg-dark text-white">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label mb-1">Message(Optional)</label>
                    <textarea id="message" placeholder="Enter your message" name="emailMessage" class="form-control input-box rm-border bg-dark text-white" rows="6"></textarea>
                </div>

                <div class="mb-0">
                    <div class="col-md-12 px-0">
                        <input type="submit" value="Read" class="btn btn-primary btn-block rm-border">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

