@using System.Security.Claims
@model InterviewSathi.Web.Models.Entities.BlogsEntity.Blog


<form asp-action="Create" asp-controller="Blog" enctype="multipart/form-data">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center" id="staticBackdropLabel">Post a Blog</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea id="content" asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="blogPath" class="form-label">Blog Image</label>
                <input type="file" id="blogPath" asp-for="BlogPath" class="form-control">
                <span asp-validation-for="BlogPath" class="text-danger"></span>
            </div>
            <input asp-for="PostedBy" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)?.ToString()" hidden />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        postEvent = function (xhr) {
            alert("Blog post successful");
            $('.btn-close').click();
            location.reload();
        }
    });
</script>