@model PlatformReview
@{
    Layout = "_Admin";
}


<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/images/plaformreview/@Model.PicURL" class="img-fluid" alt="Image">
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <form asp-controller="PlatformReview" asp-action="Edit">
            <input type="text" value="@Model.Id" hidden />
            <div class="card shadow-lg bg-dark text-white p-4">
                <div class="row mt-0">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-outline-light mb-3" data-bs-toggle="modal" data-bs-target="#imageModal">View Document</button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>Review</label>
                    <input value="@Model.Message" readonly class="form-control input-box rm-border bg-dark text-white">
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="mb-1">Email</label>
                    <input id="email" type="text" placeholder="Enter your email" value="@Model.User.Email" name="email" readonly class="form-control input-box rm-border bg-dark text-white">
                </div>
                <div class="form-group mb-3">
                    <label for="message" class="mb-1">Message(Optional)</label>
                    <textarea id="message" placeholder="Enter your message" name="emailMessage" class="form-control input-box rm-border bg-dark text-white"></textarea>
                </div>

                <div class="form-group mb-0">
                    <div class="col-md-12 px-0">
                        <input type="submit" value="Change Status" class="btn btn-block btn-primary rm-border">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

